---
import './Button.scss'
import { Sprite } from 'astro-icon'

interface Props {
  text: string
  type?: 'submit' | 'button' | 'reset'
  icon?: string
  className?: string
  mod?: ('fill')[]
  modal?: string
  props?: any
}

const { type = 'button', className, icon, text, mod, modal, props } = Astro.props
---

<button
  class:list={['button', className, mod?.map((el) => `button--${el}`)]}
  type={type}
  data-open-modal={modal}
  {...props}
>
  {icon &&
    <span class="button__icon">
      <Sprite name={icon} />
    </span>}
  <p class='button__text' set:html={text} />
</button>
